.otp-box{
  width:70%;
  margin: 20px auto;
  display: flex;
  gap: 10px;
}
.otp-box input{
  width: 50px;
  padding: 10px;
  outline: none;
  text-align: center;
}
.otp-box input:focus{
  border: 2px solid var(--main-color);
}